# database connection, referenced via 'db-*' keys in config.yml
DB_HOST=db
DB_PORT=3306
DB_NAME=database
DB_USER=user
DB_PASS=secret

# mail server, referenced via in config.yml
IMAP_HOST=imap.example.org
SMTP_HOST=smtp.example.org
MAIL_PASSWORD=secret

# 32 random bytes, base64-encoded. Used for AES-256-CBC and HMAC-SHA256.
APP_SECRET=base64encodedkey32bytes
