# edit and save as config.yml

lists:
  type: list-collection

  # defaults:
  # list-provider: ldap
  # mail-configuration: mail
  # list-label: "{list-name}"
  # subject-prefix: "[{list-label}] "
  # rewrite-sender-name: "{sender-name}"

ldap:
  host: ldap
  bind-dn: cn=admin,dc=example,dc=com # required
  bind-password: $LDAP_BIND_PASSWORD # required
  dn: ou=groups,dc=example,dc=com # required
  password-provider: redis

  # defaults:
  # host: localhost
  # port: 389
  # filter: "(objectClass=mailGroup)"
  # user-filter: "(objectClass=inetOrgPerson)"

mail:
  host: imap.example.com
  # defaults:
  # type: imap
  # host: "{domain}"
  # folder: "INBOX"
  # user: "{list-address}"
  # password: "{list-password}"
  # secure: "ssl"
  # imap-host: "{host}"
  # imap-user: "{user}"
  # imap-password: "{password}"
  # imap-secure: "{secure}"
  # imap-port: 993 or 143
  # smtp-host: "{host}"
  # smtp-port: 465
  # smtp-user: "{user}"
  # smtp-password: "{password}"
  # smtp-secure: "{secure}"

redis:
  host: redis
  # defaults:
  # host: localhost
  # port: 6379
