{layout '../templates/layout.latte'}

{block title}{$translator->trans('unsubscribe_page.title', ['%app_name%' => $appName])}{/block}

{block content}
<div class="narrow-page">
    <div class="card text-center">
        {if $success}
            <div class="result-icon">✓</div>
            <p>{$message}</p>
        {else}
            <div class="result-icon">✗</div>
            <p class="text-danger">{$message}</p>
        {/if}
        <a href="/" class="btn btn-secondary mt-1">{$translator->trans('unsubscribe_page.back_home')}</a>
    </div>
</div>
{/block}
